#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

#main>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: aquamarine;
}

#main>div>img{
    width: 100%;
}